#main{
    background-color: rgba(255, 255, 255, 0.269);
}

#one{
background-color: rgb(241, 222, 222);
}
#three{
    background-color: rgb(95, 95, 95);
}
#four{
    background-color: coral;
    text-align: center;
}
img {
    border-radius: 50%;

  }
 .hide{
    display: none;
 }
 .show:hover + .hide{
    display: block;
    color: coral;
 }